[Desktop Entry]
Name=ego
X-KDE-PluginInfo-Name=ego-wallpaper
X-KDE-PluginInfo-Author=Sean Tay (@raikoart)
X-KDE-PluginInfo-Email=raikoarts@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0